.task {
  display: none;
}

.task2 {
  display: block;
}

.App-header {
  margin: 1rem;
}

.link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.sort {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.sort-btn {
  background-color: #1a759f;
  color: #fff;
  border: 0;
  width: 20%;
  padding: 0.9rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
}

.main {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: auto;
}

.textField {
  margin-bottom: 1rem;
  padding: 1em;
  font-size: 1rem;
  border: 0;
  border: 1px solid #f4f6f7;
  border-radius: 5px;
  background-color: #f4f6f7;
}
.btn {
  background-color: #1a759f;
  color: #f2f2f2;
  border: 0;
  border-radius: 5px;
  margin-top: 1rem;
}

.todo-input {
  padding-left: 2rem;
}
#outlined-required {
  padding: 7.5px 14px;
}

.MuiButtonBase-root.MuiButton-contained.MuiButton-containedPrimary {
  background-color: #1a759f;
  color: #fff;
  margin-left: 0.5rem;
}

form {
  width: 100%;
}
.taskList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.strike-text {
  text-decoration: line-through;
}

.taskList {
  margin-bottom: 1rem;
  padding: 0 2rem;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5em 0.5em;
  background-color: #f4f6f7;
  border-radius: 5px;
}

.addTask {
  margin-bottom: 1.5rem;
  width: 75%;
  padding: 0.6rem;
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 1rem;
  border-color: #f4f4f4;
  border: 0;
}
::placeholder {
  font-size: 1rem;
  color: #000;
}

.textfield {
  width: 95%;
  margin: auto;
  padding: 1rem;
}

@media (max-width: 480px) {
  /* body {
    font-size: 14px;
  } */
  .MuiBox-root.css-1is0vm8 {
    margin: 1rem;
    padding: 0;
  }
  .addTask {
    width: 74%;
  }
  .main {
    padding: 0;
  }
  .MuiButtonBase-root.MuiButton-contained.MuiButton-containedPrimary {
    width: 30%;
  }
  .sort {
    margin-right: 1.4rem;
  }
  .sort-btn {
    width: 30%;
  }
  .MuiContainer-root.css-xdmu94-MuiContainer-root {
    padding-left: 0;
    padding-right: 0;
  }
  .taskList {
    margin-bottom: 1.3rem;
    padding: 0 1rem;
  }
  .textField {
    padding: 1rem;
  }
  .userInfo {
    width: auto;
  }
  .MuiBox-root.css-n292df {
    padding: 1rem;
  }

  .todo-input {
    padding: 1rem;
    margin-top: 3rem;
  }
  .MuiSvgIcon-root.css-1a62au0-MuiSvgIcon-root {
    top: 8%;
    left: 5%;
  }
  .App-header {
    margin: 0;
  }
  .sub-todo {
    padding: 0 1rem 0 1rem;
  }

  .MuiBox-root.css-1wnsr1i {
    width: 359px;
  }
}
