.task {
  display: none;
}

.task2 {
  display: block;
}

.App-header {
  margin: 1rem;
}

.main {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: auto;
}

.textField {
  margin-bottom: 1rem;
  padding: 1em;
  font-size: 1rem;
  background-color: #f2f2f2;
  border: 0;
  border: 1px solid #000;
}
.btn {
  background-color: rgb(120, 157, 135);
  color: #f2f2f2;
}

#outlined-required {
  padding: 7.5px 14px;
}

.MuiButtonBase-root.MuiButton-contained.MuiButton-containedPrimary {
  background-color: #f2f2f2;
  color: #000;
}

form {
  width: 100%;
}
.taskList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.strike-text {
  text-decoration: line-through;
}

.taskList {
  margin-bottom: 1rem;
  padding: 0 2rem;
}

.hero {
  /* background-color: rgb(209, 213, 222); */
  background-color: #ccddd3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.3rem 0.5rem;
}

.addTask {
  margin-bottom: 1rem;
  width: 85%;
  padding: 0.6rem;
}
::placeholder {
  font-size: 1rem;
}

.textfield {
  width: 95%;
  margin: auto;
  padding: 1rem;
}
